---
// src/components/PortfolioItem.astro
import { urlFor } from '../lib/sanityClient';
import type { PortfolioItem } from '../types/portfolio-types';

interface Props {
    item: PortfolioItem;
}

const { item } = Astro.props;
const { title, slug, image, category, date, excerpt } = item;

// Function to get the image URL
const getImageUrl = (image: string | { asset: { _ref: string; _type: string } }) => {
    if (typeof image === 'string') {
        return image;
    } else {
        return urlFor(image).url();
    }
};

const imageUrl = getImageUrl(image);
const slugUrl = slug.current; // Accessing current correctly assuming slug is an object
---

<a
    href={`/portfolio/${category}/${slugUrl}`}
    class="block border border-gray-300 text-gray-900 hover:text-black hover:bg-transparent rounded overflow-hidden shadow-md transition-shadow duration-200"
    data-category={category}
>
    <div class="relative aspect-video overflow-hidden">
        <img src={imageUrl} alt={title} class="object-cover w-full h-full transform group-hover:scale-105 transition-transform duration-200" />
    </div>
    <div class="p-4">
        <h3 class="text-lg font-semibold">{title}</h3>
        <p class="text-sm text-gray-600 mt-1">{date}</p>
        <p class="text-sm text-gray-800 mt-2">{excerpt}</p>
    </div>
</a>
